body,
html {
    margin:0;
    padding:0;
    color:#000;
    font-family: arial;
}

#menu {
    margin: 20px;
}

#content {
/*    margin:0 auto;*/
    margin-left: 15px;
    width: 1200px;
}

#col1 {
    float:left;
    width: 400px;
    background-color: whiteSmoke;                                               
    border-right: 1px solid rgba(0, 0, 0, .2);
}
#col2 {
    float:right;
    width: 775px;
}

#inputbox {
    width: 100%;
    font-size: large;
}

#lexicon {
    width: 100%;
    height: 200px;
    font-family: courier;
}

#finalMeaning {
    font-family: courier;
}

.meaning {
    font-style: italic;
}

.cell {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: small;
    text-align: center;
}

.parseTree td {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}
.parseTree {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#sent td {
    text-align: center;
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid black;
}
#sent {
}

#sent .tag  {
    font-family: courier;
}

.error {
    color: red;
    font-weight:bold;
}

.data {
}

.data tr {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.data td {
    vertical-align: top;
}

.evidence {
    width: 100%;
}

.arg1 {
    text-align: right;
    width: 250px;
}
.arg2 {
    text-align: left;
    width: 250px;
}
.rel {
    text-align: center;
    width: 250px;
}

thead td {
    background-color: lightgrey;
    font-weight: bold;
}

.paginate_enabled_next {
    padding: 5px;
}
.paginate_disabled_next {
    padding: 5px;
    color: lightgrey;
}
.paginate_enabled_previous {
    padding: 5px;
}
.paginate_disabled_previous {
    padding: 5px;
    color: lightgrey;
}

.eventTable {
    background-color: #CFECEC;
    border: 1px solid black;
}

.entityTable {
    background-color: #C3FDB8;
    border: 1px solid black;
}
.eventType {
    text-align: center;
    width: 150px;
}
.eventArgName {
    text-align: right;
    width: 75px;
}
.eventArgValue {
    text-align: left;
}
.eventType {
    border-bottom: 1px solid black;
    font-weight: bold;
}
.conjTable {
    margin: 10px;
    padding: 5px;
    float: left;
}
.conjunctiveContainer {
    width: 99%;
    float: left;
    background-color: lightyellow;
    padding: 5px;
    margin: 10px;
}
.entityTableArg {
    text-align: center;
}
.meaningOption {
    margin: 20px;
    padding: 5px;
    float: left;
    width: 100%;
}
.selectVar {
    font-weight: bold;
    float: left;
    width: 100%;
}

.expected {
    margin-right: 10px;
    width: 45%;
    float:left;
    padding: 10px;
    height: 100%;
}

.expected .conjunctiveContainer {
    width: 90%;
}

.got .conjunctiveContainer {
    width: 90%;
}

.got {
    margin: 5px;
    width: 45%;
    float: right;
    padding: 10px;
}
.example {
    margin: 10px;
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}
.incorrect {
    background-color: lightgrey;
}

a.red, a:visited.red {
    color: red;
}

a.blue, a:visited.blue {
    color: blue;
}
.check {
    float: right;
    color: blue;
    font-size: 50px;
}
.cross {
    float: right;
    color: red;
    font-size: 50px;
}
.evalInfo td {
    vertical-align: top;
}
.evalInfo textarea {
    width: 500px;
    height: 200px;
}
.evalInfo input {
    width: 500px;
}

.query {
    font-size: 16pt;
}

#resultSet {
}

#rset {
}

.dbtable {
    border: 1px solid black;
    width: 100%;
}
.dbtable td{ 
    width: 200px;
    text-align: center;
}

.tbllink {
    background-color: lightgreen;
    color: green;
    font-weight: bold;
    text-decoration: none;
}

.indexlist li {
    margin: 5px;
    width: 300px;
    padding: 10px;
    float: left;
    list-style: none;
    background-color: lightyellow;
}
.indexlist {
    float: left;
}
.lcor {
    color: blue;
}
.linc {
    color: red;
}
.lang-sql {
    font-size: large;
}
